.bookbtn {
    display: flex;
    justify-content: right;
}

.navposition {
    display: flex;
    justify-content: center;
    margin-left: 100px;
}

.navbarcolor {
    background-color: #444444 !important;
    
}

body, nav{
    background-color: lightgray !important;
}

nav {
    padding: 0px !important;
    
}
