.bookbtn {
    display: flex;
    justify-content: right;
}

.navposition {
    display: flex;
    justify-content: center;
    margin-left: 100px;
}

.navbarcolor {
    background-color: #444444 !important;
    
}

body, nav{
    background-color: lightgray !important;
}

nav {
    padding: 0px !important;
    
}

h5 {
    font-size: 50px !important;
    display: flex;
    justify-content: center;
}
p {
    font-size: 20px !important;
    display: flex;
    justify-content: center;
}
