.bookbtn {
    display: flex;
    justify-content: right;
}

.navposition {
    display: flex;
    justify-content: center;
    margin-left: 100px;
}

.navbarcolor {
    background-color: #444444 !important;
    
}

body, nav{
    background-color: lightgray !important;
}

nav {
    padding: 0px !important;
    
}

h5 {
    font-size: 40px !important;
    display: flex;
    justify-content: center;
}
p {
    font-size: 15px !important;
    display: flex;
    justify-content: center;
}

img{
    width: 50px;

}
.card-adjustment {
    width: 95%;
    margin: 0 auto;

}

.picture-adjustment{
    width: 60%;
    margin-left: 20%;
}

.social-logo{
    width: 30% !important;
    
}

.hovering:hover {
    width: 120% !important;
}